<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>服务器编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="//{{ request.get_host }}/static/css/font.css">
    <link rel="stylesheet" href="//{{ request.get_host }}/static/css/xadmin.css">
    <script type="text/javascript" src="//{{ request.get_host }}/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="//{{ request.get_host }}/static/js/xadmin.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        <span class="x-red">*</span>服务器id
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="serverid" name="serverid" required="" lay-verify="required"
                            autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>必填,服务器的id
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="location" class="layui-form-label">
                        <span class="x-red">*</span>地理位置
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="location" name="location" required="" lay-verify="location"
                            autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>服务器的地址位置,不用太详细了
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="group" class="layui-form-label">
                        <span class="x-red">*</span>分组
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="group" name="group" required="" lay-verify="email" autocomplete="off"
                            class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="ip_addr" class="layui-form-label">
                        <span class="x-red">*</span>ip:端口
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="ip_addr" name="ip_addr" required="" lay-verify="ip_addr"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button class="layui-btn" lay-filter="add" id="update" lay-submit="">更新</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        /*
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        */
        var serverid = '{{ server_id }}';
        var is_add_server = {{ add_server }};
        $('#serverid').val(serverid);
        $('#location').val('{{ server_location }}');
        $('#group').val('{{ server_group }}');
        $('#ip_addr').val('{{ server_ip_port }}');
        if (is_add_server)
            $("#update").text('增加服务器');
        $("#update").click(function () {
            var url = "?config=";
            if (is_add_server)
                url = "?addserver=";
            $.ajax({
                type: "GET",
                url: url + serverid,
                async: false,
                data: { 'id': $('#serverid').val(), 'location': $('#location').val(), 'group': $('#group').val(), 'ipaddr': $('#ip_addr').val() },
                success: function (result) {
                    if (!is_add_server) {
                        xadmin.close();
                        xadmin.father_reload();
                    } else {
                        layer.msg('成功增加了服务器!');
                    }

                }
            })
        });

    </script>
</body>

</html>