<!doctype html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>Ez Admin by ha4k1r</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="//{{ request.get_host }}/static/css/font.css">
    <link rel="stylesheet" href="//{{ request.get_host }}/static/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="//{{ request.get_host }}/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="//{{ request.get_host }}/static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <script>
            // 是否开启刷新记忆tab功能
            // var is_remember = false;
    </script>
</head>

<body class="index">
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo">
            <a href="//{{ request.get_host }}/ha4k1r_admin/">Ez Admin</a></div>
        <div class="left_open">
            <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
        </div>
        <ul class="layui-nav right" lay-filter="">
            <li class="layui-nav-item">
                <a href="javascript:;">{{ request.session.admin_login_name }}</a>
                <dl class="layui-nav-child">
                    <!-- 二级菜单 -->
                    <dd>
                        <a onclick="xadmin.open('访问主页','https://www.wghostk.com')">访问主页</a></dd>
                    <dd>
                        <a href="//{{ request.get_host }}{{ request.path }}login_auth">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item to-index">
                <a href="/">前台首页</a></li>
        </ul>
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li>
                    <a href="javascript:;">
                        <i class="iconfont left-nav-li" lay-tips="用户管理">&#xe6b8;</i>
                        <cite>用户管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i></a>
                    <ul class="sub-menu">
                        <li>
                            <a onclick="xadmin.add_tab('房间管理','admin_room?p=0')">
                                <i class="iconfont">&#xe699;</i>
                                <cite>房间管理</cite></a>
                        </li>
                        <li>
                            <a onclick="xadmin.add_tab('用户列表','member_list?p=0')">
                                <i class="iconfont">&#xe726;</i>
                                <cite>用户列表</cite></a>
                        </li>
                        <li>
                            <a onclick="xadmin.add_tab('邀请码列表','invitecode_list?p=0')">
                                <i class="layui-icon">&#xe664;</i>
                                <cite>邀请码列表</cite></a>
                        </li>
                        <li>
                            <a onclick="xadmin.add_tab('增加邀请码','invitecode_add')">
                                <i class="layui-icon">&#xe65e;</i>
                                <cite>增加邀请码</cite></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont left-nav-li" lay-tips="比赛管理">&#xe723;</i>
                        <cite>比赛管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i></a>
                    <ul class="sub-menu">
                        <li>
                            <a onclick="xadmin.add_tab('已完成比赛','match_matched?p=0')">
                                <i class="iconfont">&#xe6ad;</i>
                                <cite>已完成</cite></a>
                        </li>
                        <li>
                            <a onclick="xadmin.add_tab('正在进行的比赛','match_matching?p=0')">
                                <i class="iconfont">&#xe6ee;</i>
                                <cite>正在进行</cite></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont left-nav-li" lay-tips="反作弊">&#xe71c;</i>
                        <cite>反作弊</cite>
                        <i class="iconfont nav_right">&#xe71c;</i></a>
                    <ul class="sub-menu">
                        <li>
                            <a onclick="xadmin.add_tab('反作弊报警','cate.html')">
                                <i class="iconfont">&#xe6b6;</i>
                                <cite>反作弊报警</cite></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont left-nav-li" lay-tips="服务器管理">&#xe726;</i>
                        <cite>服务器管理</cite>
                        <i class="iconfont nav_right">&#xe74a;</i></a>
                    <ul class="sub-menu">
                        <li>
                            <a onclick="xadmin.add_tab('比赛服务器列表','server_manage?p=0')">
                                <i class="iconfont">&#xe699;</i>
                                <cite>比赛服务器列表</cite></a>
                        </li>
                        <li>
                            <a onclick="xadmin.add_tab('休闲服务器列表','server_manage_casual?p=0')">
                                <i class="iconfont">&#xe699;</i>
                                <cite>休闲服务器列表</cite></a>
                        </li>
                        <li>
                            <a onclick="xadmin.add_tab('增加比赛服务器','add_server')">
                                <i class="iconfont">&#xe6b9;</i>
                                <cite>增加比赛服务器</cite></a>
                        </li>
                        <li>
                            <a onclick="xadmin.add_tab('增加社区服务器','add_server_casual')">
                                <i class="iconfont">&#xe6b9;</i>
                                <cite>增加社区服务器</cite></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
            <ul class="layui-tab-title">
                <li class="home">
                    <i class="layui-icon">&#xe68e;</i>我的桌面</li>
            </ul>
            <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                <dl>
                    <dd data-type="this">关闭当前</dd>
                    <dd data-type="other">关闭其它</dd>
                    <dd data-type="all">关闭全部</dd>
                </dl>
            </div>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src='//{{ request.get_host }}{{ request.path }}welcome' frameborder="0" scrolling="yes"
                        class="x-iframe"></iframe>
                </div>
            </div>
            <div id="tab_show"></div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <style id="theme_style"></style>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
</body>

</html>