<!DOCTYPE html>
<html class="x-admin-sm">

<head>
  <meta charset="UTF-8">
  <title>房间列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
  <link rel="stylesheet" href="//{{ request.get_host }}/static/css/font.css">
  <link rel="stylesheet" href="//{{ request.get_host }}/static/css/xadmin.css">
  <script src="//{{ request.get_host }}/static/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="//{{ request.get_host }}/static/js/xadmin.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="?p=0">首页</a>
      <a>
        <cite>房间列表</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
      onclick="location.reload()" title="刷新">
      <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
  </div>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body ">
          </div>
          <div class="layui-card-body layui-table-body layui-table-main">
            <table class="layui-table layui-form">
              <thead>
                <tr>
                  <th>图片</th>
                  <th>ID</th>
                  <th>房间名字</th>
                  <th>简介</th>
                  <th>玩家</th>
                  <th>Rank</th>
                  <th>搜索状态</th>
                  <th>游戏状态</th>
                  <th>是否公开</th>
                  <th>操作</th>
                </tr>
              </thead>
              <div id='div_tables'>
                {% for infos in rooms %}
                <tbody>
                  <tr>
                    <td><img style="max-width: 100px; max-height: 100px;"
                        src="//{{ request.get_host }}/static/images/room/{{ infos.ico }}" alt=""></td>
                    <td>{{ infos.roomid }}</td>
                    <td>{{ infos.title }}</td>
                    <td>{{ infos.text }}</td>
                    <td>
                      {% for playername in infos.players %}
                      <a href="../member_list?username={{ playername }}" class="label">{{ playername }},</a>
                      {% endfor %}
                    </td>
                    <td>{{ infos.rank }}</td>
                    <td class="td-status">
                      <span class="{{ infos.btn_search_class }}">{{ infos.search }}</span></td>
                    <td class="td-status">
                      <span class="{{ infos.btn_ingame_class }}" id="{{ infos.roomid }}">{{ infos.ingame }}</span></td>
                    <td class="td-status">
                      <span class="{{ infos.btn_class }}">{{ infos.public }}</span></td>
                    <td class="td-manage">
                      <a title="解散房间" onclick="room_del('{{ infos.roomid }}')" href="javascript:;">
                        <i class="layui-icon">&#x1006;</i>
                      </a>
                    </td>
                  </tr>
                </tbody>
                {% endfor %}
              </div>
            </table>
          </div>
          <div class="layui-card-body ">
            <div class="page">
              <div>
                {% for i in flush %}
                <a class="num" href="?p={{ i }}">{{ i }}</a>
                {% endfor %}
                <!--
                <a class="prev" href="">&lt;&lt;</a>
                <a class="num" href="">1</a>
                <span class="current">2</span>
                <a class="num" href="">3</a>
                <a class="num" href="">489</a>
                <a class="next" href="">&gt;&gt;</a>
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  $(function () {
    room_del = function (name) {
      layer.confirm('确定要解散[' + name + ']房间么?该操作不可逆!', {
        btn: ['确定', '取消'] //按钮
      }, function (index) {
        if ($('#' + name).text() == '游戏中') {
          layer.msg('你不能解散在游戏中的房间');
          return;
        }
        $.ajax({
          url: '?delroom=' + name,
          type: 'GET',
          success: function (data) {
            layer.msg('操作成功');
            setTimeout(function () {
              location.reload();
            }, 1000);
          }
        });
      }, function () {
        layer.msg('取消操作');
      });
    }
    layui.use('form', function () {
      var form = layui.form;
      form.on('submit(sreach)', function (data) {
        console.log('Search!');
        location.href = "//{{ request.get_host }}{{ request.path }}?search=" + $("input[ name='username' ]").val()
        return false;
      });
    });
  })
</script>

</html>