<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="//{{ request.get_host }}/static/css/font.css">
    <link rel="stylesheet" href="//{{ request.get_host }}/static/css/xadmin.css">
    <script src="//{{ request.get_host }}/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="//{{ request.get_host }}/static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <blockquote class="layui-elem-quote">欢迎管理员：
                            <span class="x-red">{{ request.session.admin_login_name }}</span>
                            请牢记,你可以随意使用本平台,包括商业化使用二次开发等.但是请著名作者!
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">数据统计</div>
                    <div class="layui-card-body ">
                        <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                            <li class="layui-col-md2 layui-col-xs6">
                                <a href="javascript:;" class="x-admin-backlog-body">
                                    <h3>注册人数</h3>
                                    <p>
                                        <cite>{{ RegisterUsers }}</cite></p>
                                </a>
                            </li>
                            <li class="layui-col-md2 layui-col-xs6">
                                <a href="javascript:;" class="x-admin-backlog-body">
                                    <h3>邀请码数量</h3>
                                    <p>
                                        <cite>{{ InviteCode }}</cite></p>
                                </a>
                            </li>
                            <li class="layui-col-md2 layui-col-xs6">
                                <a href="javascript:;" class="x-admin-backlog-body">
                                    <h3>服务器数量</h3>
                                    <p>
                                        <cite>{{ ServerNumbers }}</cite></p>
                                </a>
                            </li>
                            <li class="layui-col-md2 layui-col-xs6">
                                <a href="javascript:;" class="x-admin-backlog-body">
                                    <h3>进行中的比赛</h3>
                                    <p>
                                        <cite>{{ MatchingNum }}</cite></p>
                                </a>
                            </li>
                            <li class="layui-col-md2 layui-col-xs6">
                                <a href="javascript:;" class="x-admin-backlog-body">
                                    <h3>已封禁账号</h3>
                                    <p>
                                        <cite>{{ BannedNum }}</cite></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">系统信息</div>
                    <div class="layui-card-body ">
                        <table class="layui-table">
                            <tbody>
                                <tr>
                                    <th>系统作者</th>
                                    <td>huoji -ha4k1r</td>
                                </tr>
                                <tr>
                                    <th>服务器地址</th>
                                    <td>{{ request.get_host }}</td>
                                </tr>
                                <tr>
                                    <th>操作系统</th>
                                    <td>{{ system }}</td>
                                </tr>
                                <tr>
                                    <th>运行环境</th>
                                    <td>{{ django_version }}</td>
                                </tr>
                                <tr>
                                    <th>你的大脑版本</th>
                                    <td>0.0.2</td>
                                </tr>
                                <tr>
                                    <th>你的大脑运行方式</th>
                                    <td>cgi-fcgi</td>
                                </tr>
                                <tr>
                                    <th>MYSQL版本</th>
                                    <td>{{ mysqlVersion }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">开发团队</div>
                    <div class="layui-card-body ">
                        <table class="layui-table">
                            <tbody>
                                <tr>
                                    <th>版权所有</th>
                                    <td>幽灵网安</td>
                                    <a href="http://bbs.wghostk.com/" target="_blank">访问官网</a></td>
                                </tr>
                                <tr>
                                    <th>开发者</th>
                                    <td>huoji(1296564236@qq.com)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <style id="welcome_style"></style>
            <div class="layui-col-md12">
                <blockquote class="layui-elem-quote layui-quote-nm">感谢layui,百度Echarts,jquery,本系统由x-admin提供技术支持。
                </blockquote>
            </div>
        </div>
    </div>
    </div>
</body>

</html>