body {
  font-family: "Montserrat", sans-serif;
}

/*Header Style*/
header {
  background: url("../images/da-img-1.jpg") no-repeat center center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  background-size: cover;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 1px;
  font-size: 0.95rem;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:active {
  color: #fff;
}

.da-home-page-text {
  padding-top: 18rem;
  color: #fff;
}

@media (max-width: 575.98px) {
  .da-home-page-text {
    padding-top: 8rem;
  }
  .da-home-page-text .display-3 {
    font-size: 3rem;
  }
}

/*Projects Style*/
.da-projects .da-project-1 {
  position: relative;
  min-height: 450px;
  background-size: cover;
  background-image: center center;
}

.da-projects .da-project-2 {
  position: relative;
  min-height: 450px;
  background-size: cover;
  background-image: center center;
}

@media (max-width: 992px) {
  .da-projects .da-project-icon {
    margin-right: 15px;
  }
}

/* Expertise Skills Style */
.da-expertise .da-exp-skills {
  padding: 70px 40px 60px 40px;
}

.da-expertise .progress-bar {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
  transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.da-expertise .aos-animate {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.da-expertise .da-exp-image {
  background-image: center center;
  background-size: cover;
  min-height: 450px;
}

/*Team Carousel Style*/
.da-team .carousel-indicators {
  bottom: 0px;
}

.da-team .carousel-indicators li {
  background-color: #3d3f4c;
}

.da-team .carousel-indicators .active {
  background-color: #26b7a0;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/*Image Gallery Style*/
.da-gallery .card-columns .card {
  border: none;
  border-radius: none;
}

@media (max-width: 992px) {
  .da-gallery .card-columns {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media (max-width: 576px) {
  .da-gallery .card-columns {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

/* Company Brand Style */
.da-company-brand img {
  opacity: 0.6;
  width: 90%;
}

.da-company-brand img:hover {
  opacity: 1;
}

/*Contact Style*/
.da-contact {
  background: url("../images/staticmap.png") no-repeat center center;
  position: relative;
  min-height: 700px;
  background-size: cover;
}

.da-contact .da-contact-detail {
  padding: 8% 0 8% 1%;
}

@media (max-width: 992px) {
  .da-contact .da-contact-detail {
    padding: 15% 0 5% 1%;
  }
}

@media (max-width: 767px) {
  .da-contact .da-contact-detail {
    padding: 15px 0px 15px 0px;
  }
}

/*Footer*/
footer .da-social-link {
  color: #fff;
  text-decoration: none;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style-type: none;
}

/* Credit Style */
a.credit {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer;
}

/*Scroll Top Style*/
#scrolltop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#scrolltop .btn {
  border-radius: 50%;
}

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
}

/*Common Style*/
.da-section {
  padding: 100px 0;
}
