<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CSGO对战平台</title>
  <meta name="description" content="A Digital Agency Website landing page template built" />
  <link href="//{{ request.get_host }}/static/index/css/aos.css" rel="stylesheet">
  <link href="//{{ request.get_host }}/static/index/styles/bootstrap.css" rel="stylesheet">
  <link href="//{{ request.get_host }}/static/index/styles/main.css" rel="stylesheet">
</head>

<body id="top">
  <header>

    <div class="container pt-4">
      <nav class="navbar navbar-expand-lg navbar-dark bg-transparent px-0"><a class="text-white navbar-brand"
          href="#">CSGO对战平台</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#da-navbarNav"
          aria-controls="da-navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-uppercase" id="da-navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#">主页</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#services">加入QQ群</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="da-home-page-text" data-aos="fade-right" data-aos-duration="1000">
      <div class="container">
        <div class="col-md-10 col-sm-12 px-0 mx-0">
          <h2 class="display-3" style="margin-left:-6px;">CSGO对战平台</h2>
          <h3 class="h5 mt-3">别犹豫,犹豫就会白给.点击下面按钮下载对战平台!</h3>
          <a class="smooth-scroll btn btn-outline-light mt-4" href="#">下载</a>
          <a class="smooth-scroll btn btn-outline-light mt-4" href="#">玩家列表</a>
        </div>
      </div>
    </div>
  </header>
  <div id="scrolltop">
    <button class="btn btn-primary"><span class="icon"><i class="fas fa-angle-up fa-2x"></i></span></button>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="//{{ request.get_host }}/static/index/js/aos.js"></script>
  <script src="//{{ request.get_host }}/static/index/scripts/main.js"></script>
</body>

</html>